body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 100;
    background: #11151d;
    color: #dddddd;
}

.container {
    max-width: 800px;
    margin: auto;
}

::placeholder {
    font-style: italic;
}

a {
    color: #00b15edd;
    font-weight: 800;
    font-style: oblique;
    font-display: flex;
}

p {
    font-size: 12px;
    font-weight: 300;
}

table {
    border: 2px solid #1d1d1d;
    border-radius: 10px;
    font-style: oblique;
    display: flex;
    text-align: center;
    justify-content: center;
}

td {
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.forma {
    padding: 3px;
}

.btnSumbit {
    background-color: #00b15edd;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

label {
    font-weight: 600;
}

.card {
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    background: #0c0f14;
    border: none;
    border-radius: 10px;
}

.top {
    display: flex;
}

.headCard {
    margin-top: 10px;
    padding-left: 10px;
}

h1 {
    display: block;
    margin: 0;
    padding-bottom: 30px;
    height: 20px;
    font-size: 2.5em;
}

.headCard img {
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card:first-child h2, ul{
    margin-left: 40%;
}

.headCard:nth-child(2) {
    margin-left: 10px;
}

.headCard a {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

.headCard a:hover {
    text-decoration: underline;
    color: #00ff88dd;
    font-size: 2em;
}

.headCard a:active {
    color: #007940dd;
}

.btnSumbit {
    transition: all 0.5s ease-in-out;
}

.btnSumbit:hover {
    background: #00ff88dd;
    border-radius: 50px;
    text-decoration: underline;
}