body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 100;
    background: #11151d;
    color: #dddddd;
    padding: 0px;
    margin: 0px;
}

.container {
    max-width: 800px;
    margin: auto;
}

::placeholder {
    font-style: italic;
}

a {
    color: #00b15edd;
    font-weight: 800;
    font-style: oblique;
    font-display: flex;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}

p {
    font-size: 12px;
    font-weight: 300;
}

table {
    border: 2px solid #1d1d1d;
    border-radius: 10px;
    font-style: oblique;
    display: flex;
    text-align: center;
    justify-content: center;
}

td {
    padding: 5px;
}

.btnSumbit {
    background-color: #00b15edd;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.card {
    margin-top: 10px;
    margin-left: 10px;
    padding: 20px;
    background: #0c0f14;
    border: none;
    border-radius: 10px;
}

.top {
    display: flex;
}

.headCard {
    margin-top: 10px;
    padding-left: 10px;
}

h1 {
    display: block;
    margin: 0;
    padding-bottom: 30px;
    height: 20px;
    font-size: 2.5em;
}

.headCard img {
    border-radius: 10px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
}

.card:first-child h2{
    text-align: center;
}

.headCard:nth-child(2) {
    margin-left: 10px;
}

a:hover {
    text-decoration: underline;
    color: #00ff88dd;
    font-size: 2em;
}

a:active {
    color: #007940dd;
}

.btnSumbit {
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
}

.btnSumbit:hover {
    background: #00ff88dd;
    border-radius: 50px;
    text-decoration: underline;
}

tr:nth-child(1) {
    background: #232c3d;
}

.forma {
    display: inline-block;
}

.forma:nth-child(3) {
    display: block;
}

textarea {
    border: none;
    border-radius: 5px;
    padding: 0px;
    margin-top: 10px;
    width: 100%;
}

.forma label {
    box-sizing: border-box;
    display: block;
    font-weight: 600;
}

input {
    border: none;
    border-radius: 5px;
    margin: 10px 0px 10px 0px;
    height: 30px;
    box-sizing: border-box;
    width: 370px;
}

.forma:nth-child(3) label {
    text-align: center;
}

form {
    justify-content: center;
}

@media (max-width: 650px) {
    .headCard h1 {
        font-size: 4vh;
    }
}

@media (max-width: 580px) {
    .headCard h1 {
        font-size: 3vh;
    }
}

@media (max-width: 500px) {
    .top {
        display: block;
    }

    .headCard img {
        width: 97%;
    }
}